<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="jumbotron">
    <div class="wrapper">
        <div class="jumbotron__content">
            <h1 class="jumbotron__title">{{ site.title }}</h1>
            <div class="jumbotron__description"><p><strong>Backend that suits for any application.</strong></p></div>
            <div class="jumbotron__description"><p>{{ site.description }}</p></div>
        </div>

        <span class="logo"><img src="/assets/img/logo-corbel-co.png" alt=""/></span>
    </div>
</div>

<div class="page-content home">
    <section class="wrapper">
        {{ content }}
    </section>
</div>

{% include footer.html %}

</body>

</html>
